%button.lmo-btn-link.new-comment__truncation{ng-show: "commentIsLong()", ng-click: "toggleComment()"}
  .new-comment__gradient{ng-show: "commentCollapsed"}
  .new-comment__show-more{ng-show: "commentCollapsed", translate: "truncate_comment.show_more"}
